# Copy-paste this into Vercel > Project > Settings > Environment Variables (Import from .env file)
# Provider: Gmail (App Password)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=officialhundredacress@gmail.com
SMTP_PASS=edtbbhgmfebpyzes
MAIL_FROM=officialhundredacress@gmail.com
MAIL_TO=officialhundredacress@gmail.com
